.navbar {
    background-color: var(--super-preto);
    color: var(--branco);

    height: 32px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: 1px solid rgba(42, 42, 42, 100);
}

.navbar span {
    margin: 0 2px;
    font-size: 14px;
    font-weight: 500;
}

.navbar span:nth-child(2) {
    opacity: 0.8;
}

.navbar span:nth-child(3) {
    margin: 0 12px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar span:nth-child(3) svg {
    margin-top: 2.5px;
}

/* =-=-=-=-=-=-=-=-=-=-= Media queries =-=-=-=-=-=-=-=-=-=-= */
@media (max-width:739px) {
    .navbar span:nth-child(1),
    .navbar span:nth-child(3) {
        /* color: pink; */
        display: none;
    }
}