.wrapper {
    /* background-color: pink; */
    width: 66.6vw;
    height: 100vh;
    overflow-y: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 100px;
}

.principal {
    /* background-color: blue !important; */
    width: 65%;
    height: 85%;
}

/* =-=-=-=-=-=-=-=-=-=-= Media queries =-=-=-=-=-=-=-=-=-=-= */
@media (max-width:1439px) {
    .wrapper {
        /* background-color: red !important; */
        width: 85%;
    }

    .principal {
        /* background-color: blue !important; */
        width: 80%;
    }
}

@media (max-width:1039px) {
    .wrapper {
        /* background-color: red !important; */
        width: 100%;
    }

    .principal {
        /* background-color: blue !important; */
        width: 85%;
    }
}

@media (max-width:879px) {
    .principal {
        /* background-color: blue !important; */
        width: 90%;
    }
}