.principal {
  background-color: var(--preto);
  width: 100vw;

  display: flex;
}

.titulo {
  font-size: 64px;
  font-weight: 600;
  color: var(--branco);
  line-height: 70px;
  text-rendering: optimizelegibility;
  word-break: break-word;
}

.botao {
  position: relative;
  display: flex;
  overflow: hidden;
  height: 40px;
  padding: 0 1em;
  border: none;
  margin: 0;
  background: var(--cor-principal);
  border-radius: 12px;
  color: var(--branco);
  cursor: pointer;
  font: inherit;
  font-size: 15px;
  font-weight: 500;
  line-height: 1;
  white-space: nowrap;
  outline: none;
  place-content: center;
  place-items: center;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.botao:hover{
  opacity: 0.5;
}

/* Scrollbar */
.principal ::-webkit-scrollbar {
  width: 6px;
}

.principal ::-webkit-scrollbar-track {
  background: var(--preto);
  height: 6px !important;
}

.principal ::-webkit-scrollbar-thumb {
  background: #262626;
}

.principal ::-webkit-scrollbar-thumb:hover {
  background: #313131;
}

