.principal {
  background-color: var(--preto);
  width: 100vw;
 
  display: flex;
  justify-content: center;
}

.titulo {
  font-size: 64px;
  font-weight: 600;
  color: var(--branco);
  line-height: 70px;
  text-rendering: optimizelegibility;
  word-break: break-word;
}

/* Scrollbar */
.principal ::-webkit-scrollbar {
  width: 6px;
}

.principal ::-webkit-scrollbar-track {
  background: var(--preto);
  height: 6px !important;
}

.principal ::-webkit-scrollbar-thumb {
  background: #262626;
}

.principal ::-webkit-scrollbar-thumb:hover {
  background: #313131;
}