.fundo {
  background-color: var(--preto);
  width: 100vw;

  display: flex;
}

/* Títulos e textos */
.titulo {
  color: var(--branco);
  font-size: 64px;
  font-weight: 600;

  line-height: 70px;
}

.tituloDesc {
  color: var(--branco);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -.014em;

  margin-top: 1rem;
}

.topico {
  color: var(--branco);
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -.036em;
  cursor: pointer;

  margin-top: 2.5rem;
}

.subTopico {
  color: var(--branco);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -.036em;
  cursor: pointer;

  margin-top: 2rem;
}

.efeitoTexto {
  padding: 0.3em;
  margin-left: 0.1em;
  margin-right: 0.1em;
  background: var(--cinza);
  border-radius: 0.4em;

  font-size: 0.75em;
  font-weight: 400;
}

.efeitoTextoGrande {
  padding: 1.8em;
  background: var(--cinza);
  border-radius: 0.4em;

  color: var(--branco);
  font-size: 1.2rem;
  font-weight: 500;
  opacity: 0.9;
  line-height: 1.5;
}

/* Mostrar o # (hashtag) no hover */
.topico:hover:before, .subTopico:hover:before {
  content: '#';
  display: inline-block;
  width: 0px;
  font-weight: 500;

  position: relative;

  -webkit-transition: opacity .1s;
  transition: opacity .1s;
  opacity: 0.3;
}

.topico:hover:before {
  left: -40px;
}

.subTopico:hover:before {
  left: -25px;
}

.texto {
  color: var(--branco);
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: -.012em;
  line-height: 1.5;

  opacity: 0.9;

  margin-top: 2rem;
}

.codigo {
  color: var(--branco);
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: -.012em;
  line-height: 1;

  margin-top: 2rem;
  margin-bottom: 0.3rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  min-width: 100%;
  min-height: 3rem;
  border-radius: 16px;
  background-color: var(--cinza);
  overflow: hidden;
}

.codigo code {
  font-family: 'PTMono' !important;
}

.divIframeSandBox {
  /* background-color: pink; */
  margin: 2.2rem 0;
  height: 55vh;
}

.divIframeSandBox iframe {
  width: 100%;
  height: 100%;
}

.divImagemBlocoConteudo {
  margin: 2.2rem 0;
  width: 100%;
  height: 100%;
}

.divImagemBlocoConteudo img {
  border-radius: 16px;
}

/* Botão */
.botao {
  position: relative;
  display: flex;
  overflow: hidden;
  height: 40px;
  padding: 0 1em;
  border: none;
  margin: 0;
  background: var(--cor-principal);
  border-radius: 12px;
  color: var(--branco);
  cursor: pointer;
  font: inherit;
  font-size: 15px;
  font-weight: 500;
  line-height: 1;
  white-space: nowrap;
  outline: none;
  place-content: center;
  place-items: center;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.botao:hover {
  opacity: 0.5;
}

/* Scrollbar */
.fundo ::-webkit-scrollbar {
  width: 6px;
}

.fundo ::-webkit-scrollbar-track {
  background: var(--preto);
  height: 6px !important;
}

.fundo ::-webkit-scrollbar-thumb {
  background: #262626;
}

.fundo ::-webkit-scrollbar-thumb:hover {
  background: #313131;
}

/* =-=-=-=-=-=-=-=-=-=-= Media queries =-=-=-=-=-=-=-=-=-=-= */
@media (max-width:879px) {
  .topico, .subTopico {
    cursor: auto;
  }

  .topico:before, .subTopico::before {
    display: none;
  }

  .card {
    width: 50vh !important;
  }
}