.principal {
    /* background-color: pink !important; */
    width: 100vw;
    min-height: 100vh;
    overflow-y: auto;

    display: flex;
    align-items: center;
    flex-direction: column;

    padding-bottom: 6rem;
}

.corSecundaria {
    background-color: var(--cinza-secundario);
}

.sessaoTituloPrincipal {
    /* background-color: red; */
    height: fit-content;
}

.tituloPrincipal {
    color: var(--branco);
    font-size: 7rem;
    font-weight: 600;
    line-height: 0.9;
    letter-spacing: -.046em;

    display: flex;
    justify-content: center;
}

.descricaoTituloPrincipal {
    color: var(--branco);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -.014em;

    opacity: 0.7;

    display: flex;
    justify-content: center;
}

.tituloPrincipalMedio {
    color: var(--branco);
    font-size: 5rem;
    font-weight: 600;
    line-height: 0.9;
    letter-spacing: -.046em;

    display: flex;
    justify-content: center;
}

.link {
    color: var(--cor-principal);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -.014em;

    display: flex;
    justify-content: center;
}

.link:hover {
    opacity: 0.8;
    transition: opacity .2s, color .2s;
}

.divMedia {
    /* background-color: pink; */
    width: 70vw;
}

.video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center top;
    border-radius: 16px;
}

.divCards {
    /* background-color: pink; */
    margin-top: 1rem;
    width: 70vw;

    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.divCards section {
    width: 50%;
}

.efeitoTextoCorPrincipal {
    padding: 0.5em;
    margin-left: 0.1em;
    margin-right: 0.1em;
    background: var(--cinza);
    border-radius: 0.4em;

    color: var(--cor-principal);
    font-size: 0.9em;
    font-weight: 600;

    display: flex;
    justify-content: center;
}

.imagem {
    border-radius: 16px;
}

/* =-=-=-=-=-=-=-=-= divQuatroCards usada em sessao4.js =-=-=-=-=-=-=-=-= */
.divQuatroCards {
    /* background-color: pink; */
    width: 60vw;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    row-gap: 10px;
}

.divQuatroCards section {
    /* background-color: blue; */
    flex: 0 0 40%;
}

.divQuatroCards section div {
    /* background-color: blue; */
    width: 100%;
}

/* =-=-=-=-=-=-=-=-= div comentário do usuário usada em sessao5.js =-=-=-=-=-=-=-=-= */
.divUsuarioComentario {
    /* background-color: pink; */
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50vw;
    gap: 15px;
}

.divUsuarioComentario div:nth-child(1) img {
    /* background-color: red; */
    width: 50px !important;
    border-radius: 50%;
}

.divUsuarioComentario div:nth-child(2) {
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    gap: 5px;

    color: var(--branco);
    font-size: 1rem;
    font-weight: 500;
}

.divUsuarioComentario div:nth-child(2) span:nth-child(2) {
    opacity: 0.7;
}

/* =-=-=-=-=-=-=-=-= Margens =-=-=-=-=-=-=-=-= */
.margemTopP {
    margin-top: 2rem;
}

.margemTopG {
    margin-top: 4rem;
}

.margemTitulo {
    margin-top: 10rem;
}

/* =-=-=-=-=-=-=-=-=-=-= Media queries =-=-=-=-=-=-=-=-=-=-= */
@media (max-width:879px) {
    .divMedia {
        /* background-color: pink; */
        width: 80vw;
    }
}