.principal {
    /* background-color: pink !important; */
    width: 100vw;
    min-height: 100vh;
    overflow-y: auto;

    display: flex;
    align-items: center;
    flex-direction: column;

    padding-bottom: 6rem;
} 

.tituloPrincipal {
    color: var(--branco);
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.6;
    letter-spacing: -.046em;

    display: flex;
    justify-content: center;
}

/* =-=-=-=-=-=-=-=-= Margens =-=-=-=-=-=-=-=-= */
.margemTopP {
    margin-top: 2rem;
}

.margemTopG {
    margin-top: 5rem;
}
